*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
  background-image: url(../img/fondodelbody/country-quilt.png);
  background-repeat: repeat;
}

.contenedor{
    width: 90%;
    max-width: 1000px;
    margin: auto;
}
.contenedor header{
    /*width: 90%;*/
    /*max-width: 1000px;*/
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.contenedor header .usuario{
    width: 100%;
    padding: 10px 0;
    height: 40vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    background-image: url(../img/papeleria.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.contenedor header .usuario .navegacion,
.contenedor header .usuario .redes-sociales nav{
    margin-top: 20px;
}

.contenedor header .usuario .navegacion a{
    font-size: 13px;
    border: 2px solid blueviolet;
    padding: 8px;
    background-color: blueviolet;
    font-family: sans-serif;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    color:white;
    margin-left: 15px;
}

.contenedor header .usuario .navegacion a .user{
    color: white;
    padding-right:5px;
}
.contenedor header .usuario .redes-sociales nav{
    margin-right: 25px;
}
.contenedor header .usuario .redes-sociales nav a{
    padding: 5px;
    margin: 0 6px;
    font-size: 1.6em;
    color:#522B47;
    transition: all .3s ease;
}
.contenedor header .usuario .buscador{
    margin-top: 20px;
    margin-right: 15px;
}

/* menu de barra */
.contenedor .barra{
    background-color:darkorchid;
    position: relative;
}
.contenedor .barra .menu ul{
    list-style: none;
}

.contenedor .barra .menu > ul > li{
    float: left;
} 

.contenedor .barra .menu ul::after{
    content: '';
    display: block;
    clear: both;
}

.contenedor .barra .menu ul li a{
    color: white;
    display: inline-block;
    width: 150px;
    text-decoration: none;
    padding: 20px;
    text-align: center;
    font-family: sans-serif;
    font-size: 14px;
    text-transform: uppercase;
}
.contenedor .barra .menu ul li ul li a{
    color: aliceblue;
}
.contenedor .barra .menu ul li a:hover{
    background-color: blueviolet;
}

.contenedor .barra .menu .buscador input{
    margin-top: 16px;
    margin-left: 120px;
    width: 250px;
    height: 23px;
    border-color:darkmagenta;
    background-color: white;
    font-size: 1.3em;
}
/*segundo nivel de menu*/

.contenedor .barra .menu ul ul{
    position: absolute;
    display: none;
    top: 100%;
    border-top-color: darkorchid;
}

.contenedor .barra .menu ul li:hover > ul{
    display: block;
    background-color:#522B47;
}

.contenedor .barra .menu ul li:hover{
    background-color: darkorchid;
}

/*titulo*/
.contenedor .titulo{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.contenedor .titulo h2{
    text-align: center;
    text-transform: uppercase;
    font-size: 1.3em;
    font-family: sans-serif;
    text-decoration: underline;
}

/*Articulo*/

.seccion{
    width: 75%;
    float: right;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.seccion .articulo{
   width: 30%;
   margin-left: 20px;
    
}
.seccion .articulo .galeria{
    margin-top: 20px;
    border: 2px solid blue;
}
.seccion .articulo .galeria img{
    width: 220px;
}
.seccion .articulo .texto{
    text-align: center;
    background-color: blue;
    border-radius: 0 0 10px 10px;
    color: antiquewhite;
}

.articulo .texto h3,
.articulo .texto p{
    padding: 2px 0 2px 0;
}

/*menu sidebar*/
.categorias .elementos{
    border: 2px solid blue;
    background-color: white;
    width: 25%;
    height: 69vh;
    text-align: left;
    margin-bottom: 20px;
    padding-left: 0px;
    padding-top: 15px;
}
.categorias .elementos .titulo{
    text-align: center;
    text-decoration: underline;
    font-family:sans-serif;
    margin-bottom: -5px;
    margin-top: 5px;
}
.categorias .elementos nav ul li{
    list-style: none;
    margin: 10px 15px 10px 0px;
    padding: 6px 6px 5.5px 6px;
    width: 100%;
}
.categorias .elementos nav ul li a{
    text-decoration: none;
    margin: 15px 10px 15px 20px;
    color: blue;
    font-size: 1.4em;
}
.categorias .elementos nav ul li a:hover{
    border-bottom: 2px solid blue;
}

/*Mapa y Ubicacion*/

.zona{
    width: 100%;
    overflow: hidden;
}

.zona h2{
    text-align: center;
    margin: 30px 0 0 0;
    padding: 10px;
    border: 2px solid blue;
    background-color: blueviolet;
    color: white;
}

.ubicacion .container{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px 20px 10px 20px;
    border: 2px solid blue;
}

.ubicacion .container .direccion,
.ubicacion .container .horario{
    border: 2px solid blue;
    padding: 5px 5px;
}

.ubicacion .container .direccion h3,
.ubicacion .container .horario h3{
    text-align: center;
    font-family: sans-serif;
    text-decoration: underline;
}

.ubicacion .container .direccion p,
.ubicacion .container .horario p{
    font-size: 19px;
    margin: 5px 0;
    font-family: sans-serif;
}

.ubicacion .container .horario .dia{
    text-align: center;
}

/*Footer*/

.pie .informacion{
    text-align: center;
    margin-top: 50px;
}